body{
	font-size: 16px;
	font-family: 'Lato';
}
.formulario{
	background: #CEECF5;
	border-radius: 0 0 1em 1em;
	width: 27em;
  padding: 2em 2em 2.5em 2em;
}
.icon-user::after{
  content: "\f007";
  font-family: "FontAwesome";
  position: absolute;
  left: 1.5em;
  top: 7px;
}
.input-password{
  padding-left: 3em!important;
}
.input-user{
  padding-left: 3em!important;
}
.key{
  position: absolute;
  top: 4em;
  left: 1.5em;
}
.cabecera{
	background: #129A9B;
	border-radius: 1em 1em 0 0;
	width: 27em;
  margin-left: 17em;
  border-style: solid;
  border-width: 0.5px 0.5px 0;
  border-color: #11999A;

}
.title-cabecera{
	color: white;
}
.container{
	margin-top:5em;
}
.btn{
	margin-top: 2.5em !important;
	float: right;
	width: 12em;

}
.img-logo{
	width: 122px;
}
.parrafo{
	color:#736e6e !important;
}
.container-message{
	margin-top: .5em;
}
.msg-logo{
  width: 189px;
  margin-left: 8em;
  margin-bottom: 2em;
}
.container-options{
  margin-top: 10em;
}
.input-style{
  background:  rgba(225,225,225,0.8)!important;
}

.TopBar{
	background: #0e5c9d;
	overflow: hidden;
	padding: .5em 0 .5em 0;
}

#container{
	padding: 2em 3em;
}

.space{
	margin: .5em;
}
.side-style{
  padding: 2em 0 0 3em;
  background: rgba(225,225,225,0.8);

  /*background: #f2f2f2;*/
  height: 700px;
}
.img-style{
  width: 230px;
  padding-left: .3em;
}
.options-styles{
  font-size: 18px;
  margin-bottom: 1.5em !important;
  color:#0e5c9d !important;
  font-weight: bold;
}
.text-margin{
  margin-bottom: 1em;
}
.lbl-genero{
  margin-top: .7em;
}
.title-style{
  color: white;
  padding:.5em 0 0 2em;
}
.check-margin{
  margin-top: .2em;
}
#background_error{
	background: url(../img/backgroundError.jpg) >>>no-repeat fixed center center #333 ;
	background-size: cover;
}
